.other__title{
    font-size: 30px;
    color: $color-black;
    font-weight: 700;
}
.product_title{
    @include flex(center, space-between, 0);
    padding: 50px 0px;

    h1{
        font-size: 36px;
        color: $color-black;
        padding: 0;
    }
    button{
        font-size: 16px;
        width: 155px;
        height: 50px;
        border-radius: 8px;
        border: solid 1px #EFEFEF;
        background-color: transparent;
        color: $color-green;
    }
}
.product_button{
    @include grid(repeat(7, 1fr), 10px);

    button{
        height: 70px;
        border: 2px solid #EFEFEF;
        border-radius: 8px;
        @include flex(center, center, 15px);
        background-color: transparent;
        font-size: 14px;
        color: $color-black;
    }
}
.product_items{
    @include grid(1fr 1fr 1fr, 30px);
    padding: 30px 0;
}
.product_item{
    padding: 28px;
    position: relative;
    border-radius: 8px;
    border: 2px solid #EFEFEF;

    img{
        width: 100%;
    }

    &_text{
        @include grid(1fr, 8px);
        padding-top: 25px;

        &_star{
            @include flex(center, flex-start, 5px);

            i{
                font-size: 10px;
                color: #FFCF55;
            }
            i:last-of-type{
                color: transparent;
            }
            h4{
                font-size: 14px;
                font-weight: 300;
                color: $color-black;
            }
        }
        p{
            font-size: 16px;
            color: $color-black;
            font-weight: 600
        }
        &_end{
            @include flex(center, space-between, 0);

            h1{
                font-size: 30px;
                color: $color-black;
            }
            i{
                width: 48px;
                height: 48px;
                border: 2px solid #EFEFEF;
                border-radius: 8px;
                background-color: transparent;
                color: $color-green;
                font-size: 20px;
                @include flex(center, center, 0);
            }
        }
    }
}
.like{
    position: absolute;
    top: 20px ;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #EFEFEF;
    color: #FFCF55;
    background-color: #fff;
    @include flex(center, center, 0);
    font-size: 20px;
    padding-top: 3px;
}

@media (max-width: 1300px){
    .product_button{
        @include grid(repeat(5, 1fr), 5px);
    }
}
@media (max-width: 1000px){
    .product_button{
        @include grid(repeat(4, 1fr), 5px);
    }
}
@media (max-width: 900px){
    .product_items{
        @include grid(1fr 1fr, 30px);
    }
}
@media (max-width: 800px){
    .product_button{
        @include grid(repeat(3, 1fr), 5px)
    }
}
@media (max-width: 600px){
    .product_title{
        h1{
            font-size: 20px;
        }
        button{
            width: 80px;
            height: 40px;
            font-size: 11px;
        }
    }
    .product_button{
        @include grid(repeat(2, 1fr), 5px)
    }
}
@media (max-width:  550px){
    .product_items{
        @include grid(1fr, 30px);
    }
    .other__title{
        font-size: 18px;
    }
}
@media (max-width: 320px){
    .product_button{
        @include grid(repeat(1, 1fr), 5px)
    }
}