@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
}

.navbar_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 12px 0;
}
.navbar_top_logo {
  width: 97px;
  height: 21px;
}
.navbar_top_logo img {
  width: 100%;
  height: 100%;
}
.navbar_top_shop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.navbar_top_shop i {
  font-size: 20px;
  color: #359740;
}

.navbar_top_middle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.navbar_top_middle_a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  height: 25px;
}
.navbar_top_middle_a a {
  font-size: 14px;
  color: #70737C;
}
.navbar_top_middle_a_border {
  width: 1px;
  background-color: #70737C;
  height: 20px;
}
.navbar_top_middle_brend {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.navbar_top_middle_brend i {
  font-size: 20px;
  color: #70737C;
}
.navbar_top_middle_search {
  width: 285px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 20px;
  border: solid 1px #EFEFEF;
  border-radius: 71px;
  padding-top: 2px;
}
.navbar_top_middle_search i {
  font-size: 20px;
  color: #70737C;
}
.navbar_top_middle_search input {
  color: #70737C;
  font-size: 14px;
  outline: 0;
  outline-offset: 0;
  border: none;
  width: 100%;
  background-color: transparent;
}

#check {
  display: none;
}

.menu {
  display: none;
}

.closed {
  display: none;
}

.navbar_showcase_top {
  background-image: url(../../img/showcase_top_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  width: 100%;
  height: 70%;
  margin: 30px 0;
}

.navbar_showcase_top_text {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 40px 70px;
}
.navbar_showcase_top_text h1 {
  font-size: 48px;
  color: #1F2533;
}
.navbar_showcase_top_text p {
  font-size: 16px;
  color: #1F2533;
}
.navbar_showcase_top_text_price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.navbar_showcase_top_text_price h2 {
  font-size: 42px;
  color: #1F2533;
}
.navbar_showcase_top_text_price h3 {
  font-size: 22px;
  color: #70737C;
  text-decoration: line-through;
}
.navbar_showcase_top_text_btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.navbar_showcase_top_text_btn button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
.navbar_showcase_top_text_btn button:first-of-type {
  background-color: #359740;
  color: #fff;
}
.navbar_showcase_top_text_btn button:last-of-type {
  background-color: #fff;
  color: #359740;
}

.navbar_showcase_bottom {
  position: relative;
  height: 20vh;
  border-radius: 24px;
}
.navbar_showcase_bottom img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.navbar_showcase_bottom_text {
  text-align: center;
  padding-top: 35px;
}
.navbar_showcase_bottom_text h1 {
  font-size: 20px;
  color: #1F2533;
}
.navbar_showcase_bottom_text p {
  font-size: 14px;
  color: #1F2533;
  padding-top: 5px;
}

@media (max-width: 1350px) {
  .navbar_showcase_top_text {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 40px 70px;
  }
  .navbar_showcase_top_text h1 {
    font-size: 24px;
    color: #1F2533;
  }
  .navbar_showcase_top_text p {
    font-size: 10px;
    color: #1F2533;
  }
  .navbar_showcase_top_text_price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  .navbar_showcase_top_text_price h2 {
    font-size: 24px;
    color: #1F2533;
  }
  .navbar_showcase_top_text_price h3 {
    font-size: 16px;
    color: #70737C;
    text-decoration: line-through;
  }
  .navbar_showcase_top_text_btn button {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .menu {
    display: block;
    font-size: 20px;
    order: 3;
    color: #70737C;
  }
  .navbar_top_middle {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    padding: 30px 0;
    transition: right 0.5s;
  }
  .navbar_top_middle_search {
    width: 80%;
    margin: 0 auto;
    order: 1;
    border: 2px solid #fff;
  }
  .navbar_top_middle_search i {
    color: #1F2533;
  }
  .navbar_top_middle_search input {
    color: #1F2533;
  }
  .navbar_top_middle_a {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    order: 2;
    width: 70%;
    justify-items: flex-start;
    justify-content: flex-start;
  }
  .navbar_top_middle_a a {
    color: #1F2533;
  }
  .navbar_top_middle_brend {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .closed {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #1F2533;
    font-size: 15px;
  }
  #check:checked ~ .navbar_top_middle {
    right: 0;
  }
  .navbar_top {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0;
    position: relative;
  }
  .navbar_top_logo {
    position: absolute;
    top: 26px;
    left: 0;
  }
  .navbar_top_shop {
    order: 2;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  .navbar_top_shop i {
    font-size: 20px;
    border: 1px solid #EFEFEF;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    color: #359740;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
}
@media (max-width: 1000px) {
  .navbar_showcase_top_text {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .navbar_showcase_top {
    background-position: 100% 50%;
    height: 80%;
  }
  .navbar_showcase_top_text {
    padding: 20px 40px;
  }
}
@media (max-width: 700px) {
  .navbar_showcase_bottom {
    background-image: url(../../img/showcase_bottom_bg2.png);
    background-size: contain;
    background-position: center;
  }
  .navbar_showcase_bottom img {
    display: none;
  }
}
@media (max-width: 600px) {
  .navbar_showcase_top {
    background-image: url(../../img/showcase_top_bg2.png);
    background-size: cover;
    background-position: top;
    height: 100vh;
    padding: 0;
  }
  .navbar_showcase_top_text {
    width: 100%;
    padding: 60vh 5% 0 5%;
  }
  .navbar_showcase_top_text h1 {
    order: 2;
  }
  .navbar_showcase_top_text p {
    order: 3;
  }
  .navbar_showcase_top_text_price {
    order: 1;
  }
  .navbar_showcase_top_text_btn {
    order: 4;
  }
}
@media (max-width: 500px) {
  .navbar_showcase_top_text {
    padding: 50vh 5% 0 5%;
  }
  .navbar_top_middle {
    width: 80%;
  }
  .menu {
    padding-top: 10px;
    font-size: 15px;
  }
  .navbar_top_shop i {
    width: 30px;
    height: 30px;
    font-size: 15px;
    margin-top: 10px;
  }
}
@media (max-width: 400px) {
  .navbar_showcase_top {
    background-image: url(../../img/showcase_top_bg3.png);
    background-position: 50% 30%;
    padding: 20px 0;
    height: 90vh;
  }
  .navbar_showcase_top_text {
    margin: 0 5% 0 5%;
    padding: 0px 20px 0px 0;
  }
  .navbar_showcase_top_text h1 {
    padding-bottom: 90%;
    font-size: 20px;
  }
}
@media (max-width: 300px) {
  .navbar_showcase_top {
    height: 85vh;
  }
  .navbar_showcase_top_text h1 {
    margin-bottom: -15%;
  }
}
.other__title {
  font-size: 30px;
  color: #1F2533;
  font-weight: 700;
}

.product_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 50px 0px;
}
.product_title h1 {
  font-size: 36px;
  color: #1F2533;
  padding: 0;
}
.product_title button {
  font-size: 16px;
  width: 155px;
  height: 50px;
  border-radius: 8px;
  border: solid 1px #EFEFEF;
  background-color: transparent;
  color: #359740;
}

.product_button {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}
.product_button button {
  height: 70px;
  border: 2px solid #EFEFEF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: transparent;
  font-size: 14px;
  color: #1F2533;
}

.product_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 30px 0;
}

.product_item {
  padding: 28px;
  position: relative;
  border-radius: 8px;
  border: 2px solid #EFEFEF;
}
.product_item img {
  width: 100%;
}
.product_item_text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  padding-top: 25px;
}
.product_item_text_star {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.product_item_text_star i {
  font-size: 10px;
  color: #FFCF55;
}
.product_item_text_star i:last-of-type {
  color: transparent;
}
.product_item_text_star h4 {
  font-size: 14px;
  font-weight: 300;
  color: #1F2533;
}
.product_item_text p {
  font-size: 16px;
  color: #1F2533;
  font-weight: 600;
}
.product_item_text_end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.product_item_text_end h1 {
  font-size: 30px;
  color: #1F2533;
}
.product_item_text_end i {
  width: 48px;
  height: 48px;
  border: 2px solid #EFEFEF;
  border-radius: 8px;
  background-color: transparent;
  color: #359740;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.like {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid #EFEFEF;
  color: #FFCF55;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 20px;
  padding-top: 3px;
}

@media (max-width: 1300px) {
  .product_button {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  }
}
@media (max-width: 1000px) {
  .product_button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
}
@media (max-width: 900px) {
  .product_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 800px) {
  .product_button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}
@media (max-width: 600px) {
  .product_title h1 {
    font-size: 20px;
  }
  .product_title button {
    width: 80px;
    height: 40px;
    font-size: 11px;
  }
  .product_button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}
@media (max-width: 550px) {
  .product_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .other__title {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .product_button {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
}
.blog_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 30px 0;
}
.blog_title h1 {
  font-size: 36px;
  color: #1F2533;
}
.blog_title button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #EFEFEF;
  border-radius: 8px;
  color: #359740;
  font-size: 16px;
}

.blog_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 50px;
}

.blog_item_text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.blog_item_text_time {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.blog_item_text_time i {
  font-size: 20px;
  color: #70737C;
}
.blog_item_text_time h2 {
  font-size: 16px;
  color: #70737C;
  font-weight: 400;
}
.blog_item_text h1 {
  font-size: 28px;
  color: #1F2533;
}
.blog_item_text p {
  font-size: 14px;
  color: #70737C;
  line-height: 130%;
}
.blog_item_text button {
  width: 100px;
  height: 50px;
  border: 2px solid #EFEFEF;
  border-radius: 8px;
  font-size: 16px;
  color: #359740;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.blog_item {
  border-radius: 12px;
  padding: 30px;
  position: relative;
}
.blog_item img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.blog_item1 {
  background-color: #EAF1EB;
  grid-column: 1/3;
  grid-row: 1/2;
}
.blog_item1_text {
  width: 60%;
}

.blog_item2 {
  grid-column: 3/4;
  grid-row: 1/3;
  position: relative;
  background-color: #EFF2F8;
}

.blog_item3 {
  background-color: #EFF2F8;
  grid-column: 1/2;
  grid-row: 2/3;
}

.blog_item4 {
  background-color: #EFF2F8;
  grid-column: 2/3;
  grid-row: 2/3;
}

@media (max-width: 1200px) {
  .blog_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .blog_item1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .blog_item1_text {
    width: 70%;
  }
  .blog_item2 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .blog_item2_text {
    width: 70%;
  }
  .blog_item3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .blog_item4 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .blog_item img {
    width: 150px;
  }
}
@media (max-width: 750px) {
  .blog_item3 img, .blog_item4 img {
    width: 40%;
  }
  .blog_item3_time i, .blog_item4_time i {
    font-size: 16px;
  }
  .blog_item3_time h2, .blog_item4_time h2 {
    font-size: 14px;
  }
  .blog_item3 h1, .blog_item4 h1 {
    font-size: 16px;
  }
  .blog_item3 button, .blog_item4 button {
    width: 60px;
    height: 40px;
    font-size: 11px;
  }
}
@media (max-width: 600px) {
  .blog_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
  }
  .blog_item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .blog_item2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .blog_item3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .blog_item4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .blog_item3, .blog_item4 {
    padding: 20px;
  }
  .blog_item3 h1, .blog_item4 h1 {
    font-size: 24px;
  }
  .blog_item3 img, .blog_item4 img {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .blog_item {
    padding-bottom: 50%;
  }
  .blog_item_text {
    width: 100%;
  }
  .blog_item img {
    width: 50%;
  }
  .blog_item3, .blog_item4 {
    padding: 20px;
  }
  .blog_item3 img, .blog_item4 img {
    width: 30%;
  }
}
@media (max-width: 450px) {
  .blog_title h1 {
    font-size: 22px;
  }
  .blog_title button {
    width: 90px;
    height: 40px;
    font-size: 11px;
  }
  .blog_item {
    padding: 15px 15px 50% 15px;
  }
  .blog_item_time i {
    font-size: 16px;
  }
  .blog_item_time h2 {
    font-size: 12px;
  }
  .blog_item h1 {
    font-size: 18px;
  }
  .blog_item p {
    font-size: 14px;
  }
  .blog_item3, .blog_item4 {
    padding: 20px;
  }
  .blog_item3 img, .blog_item4 img {
    width: 50%;
  }
}
.client_title {
  font-size: 36px;
  color: #1F2533;
  text-align: center;
  padding: 30px 0;
}

.client_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.client_item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  border: 2px solid #EFEFEF;
  border-radius: 12px;
  padding: 35px 20px;
}
.client_item_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.client_item_title_right {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
.client_item_title_right h2 {
  font-size: 18px;
  color: #1F2533;
}
.client_item_title_right h3 {
  font-size: 14px;
  color: #70737C;
}
.client_item_star {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.client_item_star i {
  color: #FFCF55;
}
.client_item_star i:last-of-type {
  color: #EFEFEF;
}
.client_item p {
  font-size: 14px;
  color: #70737C;
}

@media (max-width: 1300px) {
  .client_items {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 30px;
    grid-template-rows: 1fr 1fr;
  }
  .client_item1 {
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .client_item2 {
    grid-column: 5/9;
    grid-row: 1/2;
  }
  .client_item3 {
    grid-column: 3/7;
    grid-row: 2/3;
  }
}
@media (max-width: 700px) {
  .client_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .client_item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .client_item2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .client_item3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (max-width: 360px) {
  .client_item {
    padding: 20px 20px;
  }
  .client_item_title img {
    width: 40px;
  }
  .client_item_title_right h2 {
    font-size: 14px;
  }
  .client_item_title_right h3 {
    font-size: 12px;
  }
  .client_item p {
    font-size: 11px;
  }
}
.seedra > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  padding: 30px 0;
}
.seedra > div img {
  width: 100%;
}

.seedra_text h1 {
  padding-bottom: 20px;
  font-size: 36px;
  color: #1F2533;
}
.seedra_text p {
  font-size: 16px;
  color: #1F2533;
}

@media (max-width: 1300px) {
  .seedra_text h1 {
    font-size: 20px;
  }
  .seedra_text p {
    font-size: 12px;
  }
}
@media (max-width: 950px) {
  .seedra_text br {
    display: none;
  }
}
@media (max-width: 650px) {
  .seedra > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.search > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 30px 0;
}

.search_input {
  width: 72%;
  height: 70px;
  border-radius: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  border: 2px solid #EFEFEF;
}
.search_input i {
  font-size: 20px;
  color: #70737C;
}
.search_input input {
  width: 100%;
  font-size: 16px;
  color: #1F2533;
  outline: 0;
  outline-offset: 0;
  border: none;
}

.search_end {
  width: 25%;
  height: 70px;
  border-radius: 70px;
  border: 2px solid #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.search_end h2 {
  font-size: 14px;
  color: #70737C;
  font-weight: 400;
}
.search_end h3 {
  font-size: 18px;
  color: #1F2533;
  font-weight: 500;
}

@media (max-width: 900px) {
  .search_end {
    width: 35%;
  }
  .search_input {
    width: 63%;
  }
}
@media (max-width: 700px) {
  .search_end {
    display: none;
  }
  .search_input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
  }
}
.cards > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0px;
}

.cards_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 76%;
}

.cards_filter {
  width: 20%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.cards_filter h1:first-of-type {
  padding: 10px 10px;
}
.cards_filter h1 {
  font-size: 18px;
  color: #1F2533;
}
.cards_filter h2 {
  font-size: 17px;
  color: #1F2533;
  border-top: 2px solid #EFEFEF;
  border-bottom: 2px solid #EFEFEF;
  padding: 15px 10px;
}
.cards_filter h2:nth-of-type(2) {
  margin-bottom: -12px;
}
.cards_filter_input {
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.cards_filter_input_ {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.cards_filter_price {
  padding-left: 10px;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}
.cards_filter_price_center {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  gap: 10px;
}
.cards_filter_price_center_left_, .cards_filter_price_center_right_ {
  width: 95px;
  height: 40px;
  border-radius: 7px;
  border: 2px solid #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.cards_filter_price_end {
  padding: 0 10px;
}
.cards_filter_price_end input {
  width: 100%;
  color: red;
}
.cards_filter_bottom {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.cards_filter_bottom_:first-of-type {
  border-top: 2px solid #EFEFEF;
  border-bottom: 2px solid #EFEFEF;
}
.cards_filter_bottom_ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 15px 20px;
}
.cards_filter_bottom_ h3 {
  font-size: 16px;
  color: #1F2533;
}

@media (max-width: 1120px) {
  .cards_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 65%;
  }
}
@media (max-width: 850px) {
  .cards_filter {
    display: none;
  }
  .cards_items {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .cards_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.about_showcase {
  background-image: url(../../img/about_showcase_bg1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  margin-bottom: 5%;
}
.about_showcase h1 {
  font-size: 30px;
  color: #1F2533;
  text-align: center;
  padding: 7% 0 10px 0;
}
.about_showcase p {
  font-size: 16px;
  color: #1F2533;
  text-align: center;
}

@media (max-width: 1000px) {
  .about_showcase h1 {
    padding: 8% 0 10px 0;
  }
}
@media (max-width: 850px) {
  .about_showcase h1 {
    font-size: 25px;
    padding: 12% 0 10px 0;
  }
  .about_showcase p br {
    display: none;
  }
}
@media (max-width: 700px) {
  .about_showcase {
    background-image: url(../../img/about_showcase_bg.png);
    background-size: cover;
    border-radius: 25px;
    background-position: center;
  }
}
@media (max-width: 600px) {
  .about_showcase {
    padding: 0 30px;
  }
  .about_showcase h1 {
    padding: 14% 0 10px 0;
  }
}
@media (max-width: 500px) {
  .about_showcase {
    padding: 0 30px;
  }
  .about_showcase h1 {
    padding: 17% 0 10px 0;
  }
}
@media (max-width: 500px) {
  .about_showcase {
    padding: 0 20px;
  }
  .about_showcase h1 {
    font-size: 20px;
    padding: 25% 0 10px 0;
  }
  .about_showcase p {
    font-size: 12px;
  }
}
.story > div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 30px;
}

.story_top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}
.story_top img {
  width: 100%;
}
.story_top_text h1 {
  font-size: 30px;
  color: #1F2533;
  padding-bottom: 20px;
}
.story_top_text p {
  font-size: 14px;
  color: #1F2533;
}

.story_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}
.story_bottom img {
  width: 100%;
}
.story_bottom_text h1 {
  font-size: 30px;
  color: #1F2533;
  padding-bottom: 20px;
}

@media (max-width: 1100px) {
  .story br {
    display: none;
  }
}
@media (max-width: 900px) {
  .story_top h1, .story_bottom h1 {
    font-size: 22px;
  }
  .story_top p, .story_bottom p {
    font-size: 11px;
  }
}
@media (max-width: 600px) {
  .story_top, .story_bottom {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .story_bottom img {
    order: 2;
  }
  .story_bottom_text {
    order: 1;
  }
  .story_top h1, .story_bottom h1 {
    font-size: 30px;
  }
  .story_top p, .story_bottom p {
    font-size: 16px;
    line-height: 130%;
  }
}
@media (max-width: 400px) {
  .story_top h1, .story_bottom h1 {
    font-size: 22px;
  }
  .story_top p, .story_bottom p {
    font-size: 11px;
  }
}
.meet_title {
  font-size: 30px;
  color: #1F2533;
  text-align: center;
  padding: 30px 0;
  font-weight: 700;
}

.meet_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding-bottom: 30px;
}

.meet_item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  justify-items: center;
}
.meet_item img {
  width: 100%;
}
.meet_item h1 {
  font-size: 20px;
  color: #1F2533;
}
.meet_item p {
  font-size: 15px;
  color: #70737C;
}

@media (max-width: 900px) {
  .meet_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
@media (max-width: 460px) {
  .meet_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 420px) {
  .meet_items h1 {
    font-size: 16px;
  }
  .meet_items p {
    font-size: 12px;
  }
}
@media (max-width: 360px) {
  .meet_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
.other_showcase_title {
  padding: 20px 0;
}
.other_showcase_title a {
  font-size: 14px;
  color: #70737C;
}

.other_showcase_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.other_showcase_items_text {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.other_showcase_items_text h1 {
  font-size: 30px;
  color: #1F2533;
}
.other_showcase_items_text h3 {
  font-size: 16px;
  color: #1F2533;
}
.other_showcase_items_text p {
  font-size: 12px;
  color: #70737C;
}
.other_showcase_items_text_btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.other_showcase_items_text_btn button {
  width: 150px;
  height: 40px;
  border-radius: 120px;
  border: 2px solid #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
}
.other_showcase_items_text_btn button i {
  font-size: 15px;
  color: #359740;
}
.other_showcase_items_text_input_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.other_showcase_items_text_input_top1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.other_showcase_items_text_input_top2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 120px;
  height: 40px;
  border-radius: 6px;
  border: 2px solid #EFEFEF;
}
.other_showcase_items_text_input_top2_1 {
  font-size: 20px;
  color: #359740;
}
.other_showcase_items_text_input_top2_2 {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background-color: rgba(53, 151, 64, 0.0666666667);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.other_showcase_items_text_input_center {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  width: 100%;
}
.other_showcase_items_text_input_center_ {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  border: 2px solid #EFEFEF;
  padding: 0 10px;
}
.other_showcase_items_text_input_center_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.other_showcase_items_text_input_center_left h2 {
  font-size: 14px;
  color: #1F2533;
}
.other_showcase_items_text_input_center_right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.other_showcase_items_text_input_center_right h3 {
  font-size: 16px;
  color: #1F2533;
}
.other_showcase_items_text_end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  padding-bottom: 30px;
}
.other_showcase_items_text_end_:first-of-type {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
.other_showcase_items_text_end_:first-of-type h3 {
  font-size: 18px;
  color: #70737C;
  text-decoration: line-through;
}
.other_showcase_items_text_end_:first-of-type h2 {
  font-size: 28px;
  color: #1F2533;
}
.other_showcase_items_text_end_:last-of-type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.other_showcase_items_text_end_:last-of-type i {
  font-size: 20px;
  color: #359740;
}
.other_showcase_items_text_end_:last-of-type button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: #359740;
  color: #fff;
  font-size: 13px;
  border: none;
}

.other_showcase_items_left {
  width: 38%;
}
.other_showcase_items_left img:first-of-child {
  width: 100%;
}
.other_showcase_items_left_ {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}
.other_showcase_items_left_ img {
  width: 100%;
}

@media (max-width: 1000px) {
  .other_showcase_items_text h1 {
    font-size: 25px;
  }
}
@media (max-width: 900px) {
  .other_showcase_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .other_showcase_items_left {
    width: 100%;
  }
  .other_img {
    width: 100%;
  }
  .other_showcase_items_text {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .other_showcase_items_text h1 {
    font-size: 18px;
  }
  .other_showcase_items_text_btn button {
    width: 48%;
    font-size: 11px;
  }
  .other_showcase_items_text_btn h2 {
    font-size: 17px;
  }
}
.info_title {
  font-size: 30px;
  font-weight: 700;
  color: #1F2533;
}

.info_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  border-top: 2px solid #EFEFEF;
  margin: 30px 0;
  padding-top: 30px;
}
.info_items_text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  font-size: 14px;
  color: #1F2533;
  line-height: 130%;
}
.info_items_right {
  border-radius: 12px;
  border: 2px solid #EFEFEF;
  padding: 24px 24px 27px 24px;
  height: 180px;
}
.info_items_right_ {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.info_items_right_ p {
  font-size: 14px;
  color: #70737C;
}
.info_items_right_ h2 {
  font-size: 16px;
  color: #1F2533;
}
.info_items_right_:nth-last-of-type(2) {
  border-top: 2px solid #EFEFEF;
  border-bottom: 2px solid #EFEFEF;
  padding: 15px 0;
  margin: 15px 0;
}

@media (max-width: 1000px) {
  .info_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media (max-width: 500px) {
  .info_items_right {
    padding: 20px 10px;
    height: 150px;
  }
  .info_items_right_ p {
    font-size: 9px;
  }
  .info_items_right_ h2 {
    font-size: 10px;
  }
}
.question_title {
  font-size: 30px;
  color: #1F2533;
  font-weight: 700;
}

.question_items {
  margin-bottom: 15%;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  gap: 30px;
}

.question_items_left {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-top: 30px;
}
.question_items_left_two {
  border: 2px solid #EFEFEF;
  border-radius: 8px;
  padding: 20px 28px;
}
.question_items_left_two_ {
  font-size: 14px;
  color: #1F2533;
  line-height: 170%;
}
.question_items_left_two_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  height: 80px;
  margin-top: -20px;
  border-bottom: 2px solid #EFEFEF;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.question_items_left_two_top i {
  font-size: 20px;
  color: #359740;
}
.question_items_left h2 {
  font-size: 16px;
  font-weight: 500;
  color: #1F2533;
}
.question_items_left_ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  border: 2px solid #EFEFEF;
  border-radius: 8px;
  padding: 0 28px;
  height: 80px;
}
.question_items_left_ i {
  font-size: 20px;
  color: #359740;
}

.question_items_right {
  width: 100%;
  position: relative;
  padding: 2px 0;
}
.question_items_right img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.question_items_right_text {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 50%;
}
.question_items_right_text h1 {
  font-size: 20px;
  color: #1F2533;
}
.question_items_right_text p {
  font-size: 15px;
  color: #70737C;
}
.question_items_right_text textarea {
  width: 100%;
  height: 100px;
  font-size: 14px;
  color: #1F2533;
  outline: 0;
  outline-offset: 0;
  border: none;
  border-radius: 8px;
  padding: 15px 20px;
}
.question_items_right_text button {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: #359740;
  color: #fff;
  font-size: 15px;
}

.minus2 {
  display: none;
}

@media (max-width: 1050px) {
  .question_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .question_items_right_text {
    margin-top: 0;
  }
}
@media (max-width: 700px) {
  .question_items_left_two {
    padding: 10px 5px;
  }
  .question_items_left h2 {
    font-size: 12px;
    text-align: center;
  }
  .question_items_left p {
    font-size: 10px;
  }
  .question_items_left_ {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    justify-items: center;
    padding: 10px 5px;
    height: auto;
  }
  .minus1 {
    display: none;
  }
  .minus2 {
    display: block;
    font-size: 20px;
    color: #359740;
    text-align: center;
  }
}
.customer_title {
  font-size: 30px;
  color: #1F2533;
  font-weight: 700;
  margin: 30px 0;
}

.customer_item_left {
  width: 100%;
  border-radius: 12px;
  border: 2px solid rgba(128, 128, 128, 0.239);
  padding: 25px;
}
.customer_item_left_point {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.272);
}
.customer_item_left_point h1 {
  font-size: 30px;
}
.customer_item_left_point_ {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
.customer_item_left_point_ p {
  font-size: 16px;
}
.customer_item_left_point_star i {
  font-size: 15px;
  color: #FFCF55;
}
.customer_item_left_point_star i:last-of-type {
  color: gray;
}
.customer_item_left_end {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 10px;
}
.customer_item_left_end i {
  color: #FFCF55;
}
.customer_item_left_end_ {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.customer_item_left_end_1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.customer_item_left_end__ {
  width: 70%;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.228);
}
.customer_item_left_end__ div {
  height: 100%;
  background-color: #FFCF55;
  border-radius: 20px 0 0px 20px;
}
.customer_item_left_end__:nth-of-type(1) div {
  width: 70%;
}
.customer_item_left_end__:nth-of-type(2) div {
  width: 60%;
}
.customer_item_left_end__:nth-of-type(3) div {
  width: 50%;
}
.customer_item_left_end__:nth-of-type(4) div {
  width: 40%;
}
.customer_item_left_end__:nth-of-type(5) div {
  width: 30%;
}

.c_photo {
  width: 100%;
  border: 2px solid rgba(128, 128, 128, 0.266);
  border-radius: 12px;
  padding: 25px;
}
.c_photo_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.c_photo_title_left {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
.c_photo_title_left i {
  color: #FFCF55;
}
.c_photo_title p {
  font-size: 14px;
  color: #70737C;
}
.c_photo_title h2 {
  font-size: 18px;
  color: #1F2533;
}
.c_photo_title a {
  font-size: 14px;
  color: #359740;
}
.c_photo_items {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-top: 15px;
}
.c_photo_items img {
  width: 100%;
}

.customer_items_left {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.notification_top {
  width: 100%;
  padding: 25px;
  border-radius: 12px;
  border: 2px solid rgba(128, 128, 128, 0.253);
}
.notification_top_p {
  font-size: 13px;
  color: #70737C;
  line-height: 170%;
  padding: 30px 0;
}
.notification_top_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.notification_top_title img {
  width: 50px;
}
.notification_top_title_ {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
.notification_top_title_ h2 {
  font-size: 16px;
  color: #1F2533;
}
.notification_top_title_ h3 {
  font-size: 13px;
  color: #70737C;
}
.notification_top_title_star {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.notification_top_title_star i {
  font-size: 20px;
  color: #FFCF55;
}
.notification_top_title_star i:last-of-type {
  color: gray;
}
.notification_top_btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 20px;
  border-top: 2px solid rgba(128, 128, 128, 0.339);
}
.notification_top_btn_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.notification_top_btn_left p {
  font-size: 13px;
  color: #70737C;
}
.notification_top_btn_left h2 {
  font-size: 16px;
  color: #1F2533;
}
.notification_top_btn button {
  width: 120px;
  height: 40px;
  border-radius: 100px;
  background-color: rgba(79, 160, 132, 0.2941176471);
  color: #4FA083;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  font-size: 14px;
}

.notification_top_img__ {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.notification_photo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 40%;
  padding-bottom: 20px;
}
.notification_photo img {
  width: 100%;
}

.notification_top1 {
  margin: 20px 0;
}

.customer_items {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  gap: 20px;
}

@media (max-width: 1400px) {
  .customer_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .customer_items_left {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    grid-template-rows: 270px;
  }
  .c_photo {
    display: none;
  }
}
@media (max-width: 950px) {
  .c_photo_items {
    padding-top: 50px;
  }
}
@media (max-width: 600px) {
  .notification_top_title {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .notification_top_title h2 {
    font-size: 14px;
  }
  .notification_top_title h3 {
    font-size: 11px;
  }
  .notification_top_title img {
    width: 40px;
  }
  .notification_top_btn p {
    font-size: 12px;
  }
  .notification_top_btn h2 {
    font-size: 14px;
  }
  .notification_top_btn button {
    width: 80px;
    font-size: 11px;
    height: 30px;
  }
}
.footer_title {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  gap: 0px;
  align-items: center;
  padding: 50px 0;
  border-bottom: 1px solid #359740;
}
.footer_title_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  align-items: center;
}
.footer_title_left_border {
  height: 25px;
  width: 0.5px;
  border: 0.5px solid #359740;
  margin: 0 10px;
}
.footer_title_left a {
  font-size: 14px;
  color: #70737C;
}
.footer_title_right {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}
.footer_title_right_border {
  height: 25px;
  width: 0.5px;
  border: 0.5px solid #359740;
  margin: 0 10px;
}
.footer_title_right a {
  font-size: 14px;
  color: #70737C;
}
.footer_title_logo {
  width: 125px;
}
.footer_title_logo img {
  width: 100%;
}

.footer_logo {
  width: 125px;
  display: none;
}
.footer_logo img {
  width: 100%;
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 15px 0;
}
.footer_bottom_brend {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.footer_bottom_brend i {
  font-size: 20px;
  color: #359740;
}
.footer_bottom p {
  font-size: 15px;
  color: #70737C;
}

@media (max-width: 1000px) {
  .footer_logo {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    justify-items: center;
    margin-left: 40%;
    width: 20%;
  }
  .footer_logo img {
    text-align: center;
  }
  .footer_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
  .footer_title_logo {
    display: none;
  }
}
@media (max-width: 700px) {
  .footer_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
  .footer_title_left {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .footer_title_left_border {
    display: none;
  }
  .footer_title_right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer_title_right_border {
    display: none;
  }
}
@media (max-width: 400px) {
  .footer_logo {
    width: 40%;
    margin: 0 30%;
  }
  .footer_title_left a {
    font-size: 12px;
  }
  .footer_title_right a {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
